/**/.idea/**
/.idea/
/go/go_learning/pkg/
/**/**/node_modules/
/**/.DS_Store
/**/Debug/net8.0/**.*
/**/Debug/net8.0/**
/**/obj/**.*
/**/obj/Debug/net8.0/**.*
/**/obj/Debug/net8.0/**/**.*
/**/lib/**.*
/**/**.csproj
/**/**.sln
/**/**.log
/**/.vscode/**.*

/**/.vs/**/**.v2
/**/.vs/**/**.suo
/**/.vs/**/**.bin
/**/.vs/**/**.user
/**/.vs/**/**.http
/**/.vs/**/**.vsidx
/**/.vs/**/**.json
