<%- include('header'); -%>

<header>
    <div class="container-fluid bg-primary-subtle">
        <div class="col-sm-8 mx-auto text-center py-2">
            <h1 class="display-4">dKin Caps</h1>
            <p class="lead ">A young and inspiring organisation whose
                primary purpose is to bring you the highest quality headwear available.</p>
        </div>
    </div>
</header>

<main>
    <div class="container">
        <h1>
            <%= message %>
        </h1>
        <p>
            Failed to find the resource you are looking for:
        </p>
        <pre><%= url %></pre>
    </div>
</main>

<%- include('footer'); -%>