<%- include('start') -%>
    <%- include('header') -%>
        <main class="container">
            <section class="py-5 text-center container">
                <div class="row py-lg-5">
                    <h3 class="text-center fw-normal text-muted mb-3">Every year, thousands of homes are damaged and
                        need
                        repairs. Our vision is to
                        help homeowners get their
                        houses repaired as quickly as possible, with the highest quality.</h3>
                </div>
            </section>
            <div class="row mb-4 mx-5">
                <img class="w-100" style="max-height: 400px" src="./img/introduction-damaged house 1.png"
                    alt="damaged house1">
            </div>
            <div class="row mb-4 mx-5">
                <img class="w-100" style="max-height: 400px" src="./img//introduction-damaged house2.png"
                    alt="damaged house2">
            </div>
        </main>
        <%- include('footer') -%>
            <%- include('end') -%>