<%- include('start') -%>
    <header class="container">
        <div class="row text-center mt-5 mb-5">
            <div class="offset-sm-2 col-sm-8 col-md-8 col-lg-8">
                <h1 class="display-5 fw-bold text-body-emphasis">Home Repair</h1>
            </div>
        </div>
    </header>
    <main>
        <div class="offset-3 col-6">
            <div class="col-lg-6 col-xxl-4 my-5 mx-auto">
                <div class="row gap-2">
                    <a class="col btn btn-primary" href="/introduction">Home</a>
                    <a class="col btn btn-primary" href="/login">login</a>
                </div>
            </div>
            <form class="needs-validation" novalidate>
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" aria-describedby="userInputHelp"
                        placeholder="We'll never share your email/phone with anyone else." required
                        onfocus="clearTips(this)" onblur="checkInput(this)">
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        username must be inputed
                    </div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" onfocus="clearTips(this)"
                        onblur="checkInput(this)">
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        password must be inputed
                    </div>
                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label">Phone</label>
                    <input type="phone" class="form-control" id="phone" onfocus="clearTips(this)"
                        onblur="checkInput(this)">
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Phone must be inputed
                    </div>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">email</label>
                    <input type="email" class="form-control" id="email" onfocus="clearTips(this)"
                        onblur="checkInput(this)">
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Email must be inputed
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-sm-12 mb-3">
                        <label for="state" class="form-label">state</label>
                        <input type="text" class="form-control" id="state">
                    </div>
                    <div class="col-lg-6 col-sm-12 mb-3">
                        <label for="subcode" class="form-label">Subcode</label>
                        <input type="text" class="form-control" id="subcode">
                    </div>
                </div>
                <div class="row gap-5">
                    <button type="button" class="col btn btn-primary" onclick="formCheck()">Register</button>
                    <button type="button" class="col btn btn-info" onclick="toHome()">Cancel</button>
                </div>
            </form>
        </div>
    </main>
    </body>
    <script>
        function toHome() {
            window.location.href = './introduction'
        }

        function checkNullAndEmpty(tag) {
            if (tag.val() == null || tag.val() == '') {
                tag.addClass("is-invalid")
                tag.removeClass("is-valid")
                return true
            } else {
                tag.addClass("is-valid")
                tag.removeClass("is-invalid")
            }
            return false
        }

        function formCheck() {
            let name = $('#name')
            let password = $('#password')
            let phone = $('#phone')
            let email = $('#email')
            let state = $('#state')
            let subcode = $('#subcode')

            if (checkNullAndEmpty(name)
                || checkNullAndEmpty(password)
                || checkNullAndEmpty(phone)
                || checkNullAndEmpty(email)
                || checkNullAndEmpty(state)
                || checkNullAndEmpty(subcode)) {
                return
            }

            let user = {
                name: name.val(),
                password: password.val(),
                phone: phone.val(),
                email: email.val(),
                state: state.val(),
                subcode: subcode.val()
            }

            let flag = false

            fetch('/register/addUser', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(user)
            })
                .then(res => {
                    if (res.status == 200) {
                        return res.json()
                    } else {
                        flag = true
                        alert('User name exist')
                    }
                })
                .then(data => {
                    console.log('success: ', data)
                    console.log(flag)
                    if (!flag) {
                        window.location.href = '/login'
                    }
                })
                .catch(error => {
                    if (error) {
                        alert(error.msg)
                    }
                    console.log('error: ', error)
                })
        }

        function clearTips(tag) {
            tag.classList.remove("is-valid", "is-invalid");
        }

        function checkInput(tag) {
            if (tag.value == null || tag.value == '') {
                tag.classList.add("is-invalid")
            } else {
                tag.classList.add("is-valid")
            }
        }
    </script>

    <%- include('end') -%>